streamlit==1.35.0
yt_dlp==2024.4.9
moviepy==1.0.3
imageio==2.34.0
imageio-ffmpeg==0.4.9
torch==2.0.1
torchaudio==2.0.1
langdetect==1.0.9
deep-translator==1.11.4
git+https://github.com/openai/whisper.git
